
<!--<div class="go-back-button">-->
<!--  <app-go-back-button [goBack]=true />-->
<!--</div>-->

<!--<p-menubar [model]="items" />-->

<div class="pet-container">

  <div class="go-back-button">
    <app-go-back-button [goBack]=true />
  </div>

  <h1 style="color: #4E3D4D;">
    {{ petData?.name }}
  </h1>

  <div class="pet-content">
    <h2 class="title">Dados do Pet</h2>

    <div class="data">
      <div class="personal-info">

        <div class="pet-field" style="background-color: #F8EFE8; border: 1px solid #F8EFE8;">
          <h1>♀️</h1>
          <span style="color: #8f8781;">Gênero</span>
          <h2 style="color: #5f5852;">{{ petData?.sex | titlecase }}</h2>
        </div>

        <div class="pet-field" style="background-color: #F0F3FF; border: 1px solid #F0F3FF;">
          <h1>🐾</h1>
          <span style="color: #878a95;">Idade</span>
          <h2 style="color: #575a64;">{{ petData?.age }} anos</h2>
        </div>

        <div class="pet-field" style="background-color: #E5F8FF; border: 1px solid #E5F8FF;">
          <h1>⚖️</h1>
          <span style="color: #7d8e94;">Peso</span>
          <h2 style="color: #4d5e63;">{{ petData?.weight }} kg</h2>
        </div>

        <div class="pet-field" style="background-color: #E2F5CB; border: 1px solid #E2F5CB;">
          <h1>🐱‍</h1>
          <span style="color: #7c8d68;">Raça</span>
          <h2 style="color: #4d5e3b;">{{ petData?.breed | titlecase }}</h2>
        </div>

        <div class="pet-field" style="background-color: #FFE9C2; border: 1px solid #FFE9C2;">
          <h1>🐈</h1>
          <span style="color: #968460;">Espécie</span>
          <h2 style="color: #665635;">{{ petData?.specie | titlecase }}</h2>
        </div>
      </div>

      <p-button
        label="Editar dados"
        class="edit-pet-button"
        icon="pi pi-pen-to-square"
        (onClick)="handleEditPet()"
      />
    </div>

    <h2 class="title">Consultas</h2>

    <p-button label="Agendar Consulta" [outlined]="true" icon="pi pi-calendar-plus" size="large" />
  </div>
</div>

