<div class="appointments-list">
  <p-button
    type="button"
    icon="pi pi-chevron-left"
    (onClick)="prev()"
    [disabled]="isFirstPage()"
    styleClass="p-button-text"
  />
  <p-button
    label="Carregar +"
    type="button"
    icon="pi pi-chevron-right"
    (onClick)="next()"
    [disabled]="isLastPage()"
    styleClass="p-button-text"
  />
</div>
<div class="card">
  <p-table
    [value]="appointments"
    [paginator]="true"
    [rows]=10
    [first]="first"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped"
    [currentPageReportTemplate]="'Mostrando de ' + (first + 1) + ' a ' + (first + 10) + ' das ' + totalRecords + ' consultas cadastradas'"
    (onPage)="pageChange($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:25%; color: var(--primary-color);">Data</th>
        <th style="width:25%; color: var(--primary-color);">Tipo de Consulta</th>
        <th style="width:25%; color: var(--primary-color);">Tutor</th>
        <th style="width:25%; color: var(--primary-color);">Pet</th>
        <th style="width:25%; color: var(--primary-color);">Veterinários</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appointment>
      <tr>
        <td>{{ appointment.scheduledDate | date: 'short' }} </td>
        <td>{{ appointment.appointmentType }}</td>
        <td>{{ appointment.tutor }}</td>
        <td>{{ appointment.pet }}</td>

        <td>
        @for(veterinarian of appointment.veterinarians; track veterinarian) {
          {{ veterinarian }},
        }
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>
