<div class="profile-container">
  <div>
    <div class="profile-header">
      <app-go-back-button />
        <h1>
          <p-avatar
            [label]="(profile?.name || '4Paws').charAt(0)"
            size="xlarge"
            shape="circle"
            class="tutor-avatar"
          />
          {{profile?.name}}
        </h1>
    </div>

    <div class="profile-content">
      <p class="profile-field">
        <b>
          <i class="pi pi-briefcase"></i>
          Cargo:
        </b>
       <span>{{ profile?.role }}</span>
      </p>

      @if(profile?.role === 'VETERINARIO') {
        <p><b>Especialidade:</b> {{ profile?.specialty }}</p>

        <p><b>CRMV:</b> {{ profile?.crmv }}</p>

        <p><b>UF:</b> {{ profile?.uf }}</p>
      }

      <p class="profile-field">
        <b>
          <i class="pi pi-id-card"></i>
          CPF:
        </b>
        {{ profile?.cpf }}
      </p>

      <p class="profile-field">
        <b>
          <i class="pi pi-at"></i>
          Email:
        </b>
        {{ profile?.email }}
      </p>
    </div>
    </div>
</div>
