<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="half left">
      <p-image
        src="LoginBackground4PawsCute.png"
        alt="Imagem de fundo"
        width="100%"
        height="100%"
      />
    </div>

    <div class="half right">
      <div class="login-container">

        <span class="pi pi-sign-in"></span>
        <h1>Faça Login</h1>
        <p class="subtitle">O lugar onde o amor pelos pets encontra a tecnologia.</p>

        @if (hasAnyErrors) {
          <div class="message-error">
            <h3>Erros:</h3>
            @for (error of errors | keyvalue; track error.key) {
              {{ error.value }}
            }
          </div>
        }

        <div class="input-container">
          <p-iconField iconPosition="left" id="email-input">
            <p-inputIcon styleClass="pi pi-envelope" />
            <input
              id="email"
              type="email"
              formControlName="email"
              placeholder="Email"
              pInputText
              required
            />
          </p-iconField>

          <div class="p-input-icon-left">
            <i class="pi pi-lock"></i>
            <p-password
                id="password"
                formControlName="password"
                [toggleMask]="true"
                placeholder="Senha"
                [feedback]="false"
            />
          </div>
        </div>

        <p-button class="forget-password" label="Esqueceu a senha?" [link]="true" />

        <p-button
          class="login-button"
          [loading]="loading"
          (onClick)="onSubmit()"
          label="Login"
          [disabled]="loginForm.invalid"
        />
      </div>
    </div>
  </div>
</form>
