$layout-mobile: 768px;

:host {
  display: block;
  margin: -8px;
}

.p-input-icon-left {
  position: relative;
}

.p-input-icon-left > i {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  z-index: 1;
}

:host ::ng-deep .p-input-icon-left .p-password .p-inputtext {
  padding-left: 2.5rem;
}

#email-input #email {
  padding-right: 2.5rem;
}

.container {
  display: flex;
  height: 100vh;
}

.half {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
}

.right {
  display: grid;
  place-items: center;
}

.container .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.login-container > * {
  margin-top: 1rem;
}

.login-container .input-container {
  display: grid;
  place-items: center;
  width: 100%;
}

.login-container .input-container #email {
  margin-bottom: 1rem;
}

.login-container #email-input,
.login-container .p-input-icon-left {
  width: 75%;
}

.login-container #email {
  width: 100%;
}

:host ::ng-deep .login-container #password .p-password,
:host ::ng-deep .login-container #password .p-password-input {
  width: 100%;
}

.login-container .forget-password {
  align-self: flex-end;
  margin-right: 2rem;
  margin-top: 0;
}

.subtitle {
  margin: 0 !important;
  text-align: center;
  font-size: 1.25rem;
}

.message-error {
  color: var(--red-600);
}

@media (max-width: $layout-mobile) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .half {
    max-width: 100%;
  }

  .login-container {
    margin-bottom: 5rem;
  }

  .login-container #email-input,
  .login-container .p-input-icon-left {
    width: 100%;
  }
}
