:host {
  display: block;
  margin: -8px;
}

.p-input-icon-left {
  position: relative;
}

.p-input-icon-left > i {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  z-index: 1;
}

:host ::ng-deep .p-input-icon-left .p-password .p-inputtext {
  padding-left: 2.5rem;
}

#email-input #email {
  padding-right: 2.5rem;
}

.container {
  display: flex;
  height: 100vh;
}

.half {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
}

.right {
  display: grid;
  place-items: center;
}

.container .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.login-container > * {
  margin-top: 1rem;
}

.login-container .forget-password {
  align-self: flex-end;
  margin-right: 2rem;
  margin-top: 0;
}

//:host ::ng-deep .login-container .forget-password .p-button {
//  color: var(--text-color-secondary);
//}

.subtitle {
  margin: 0 !important;
  text-align: center;
  font-size: 1.25rem;
}
