//** BASE STYLE FOR HOME COMPONENT **//

$layout-mobile: 768px;

.profile {
  display: flex;
  margin-left: 5rem;
}

:host ::ng-deep .profile .p-avatar {

}

:host ::ng-deep .profile .p-avatar:hover {
  border: 2px solid var(--primary-color);
}

.profile .p-element {
  margin-right: 1rem;
  cursor: pointer;
}

.home-container {
  display: flex;
  flex-direction: column;

  /* topo | horizontal | inferior */
  margin: 5rem 2rem 2rem;
}

@media (max-width: $layout-mobile) {
  .profile {
    margin-left: 0;
  }
}
