//** BASE STYLE FOR HOME COMPONENT **//

.profile {
  display: flex;
  margin-left: 5rem;
}

.profile .p-element {
  margin-right: 1rem;
  cursor: pointer;
}

.home-container {
  display: flex;
  flex-direction: column;

  /* topo | horizontal | inferior */
  margin: 5rem 2rem 2rem;
}
