$subtitle: #8F9BA8;

.tutor-form-container {
  display: grid;
  place-items: center;
}

.tutor-form-container .form-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.tutor-form-container .address-content {
  width: 100%;
}

.address-subinfo {
  display: flex;
}

#number {
  margin-right: 1rem;
}

.tutor-form-container .form-content p-floatLabel, .address-subinfo p-floatLabel  {
  margin-top: 2rem;
  margin-right: 1rem;
}

.tutor-form-container .form-content input,
:host ::ng-deep .tutor-form-container .form-content p-inputMask input {
  width: 100%;
}

.create-tutor-button {
  margin-top: 2rem;
}

:host ::ng-deep .create-tutor-button button {
  width: 100%;
}

h3 {
  color: $subtitle;
  font-weight: lighter;
  margin-bottom: 0;
}

:host ::ng-deep .p-divider {
  margin: 0.5rem 0;
}
