<form [formGroup]="tutorForm" (ngSubmit)="onSubmit()" class="tutor-form-container">
  <h2>Cadastre um Tutor</h2>

  <div class="form-content">

    @if (hasAnyErrors) {
      <div class="message-error">
        <h3>Erros:</h3>
        @for (error of errors | keyvalue; track error.key) {
          <p>{{ error.value | titlecase }} </p>
        }
      </div>
    }

    <h3>Dados pessoais do Tutor</h3>
    <p-divider />

    <p-floatLabel>
      <input
        id="name"
        type="text"
        formControlName="name"
        pInputText
        required
      />
      <label for="name">Nome</label>
    </p-floatLabel>

    <p-floatLabel>
      <input
        id="phone"
        type="tel"
        formControlName="phone"
        pInputText
        required
      />
      <label for="phone">Celular</label>
    </p-floatLabel>

    <p-floatLabel>
      <input
        id="cpf"
        type="text"
        formControlName="cpf"
        pInputText
        required
      />
      <label for="cpf">CPF</label>
    </p-floatLabel>

    <h3>Endereço</h3>
    <p-divider />
    <div class="form-content address-content" formGroupName="address">

      <p-floatLabel>
        <input
          id="street"
          type="text"
          formControlName="street"
          pInputText
          required
        />
        <label for="street">Rua</label>
      </p-floatLabel>

      <div class="address-subinfo">
        <p-floatLabel>
          <input
            id="number"
            type="number"
            formControlName="number"
            pInputText
            required
          />
          <label for="number">Número</label>
        </p-floatLabel>

        <p-floatLabel>
          <input
            id="neighborhood"
            type="text"
            formControlName="neighborhood"
            pInputText
            required
          />
          <label for="neighborhood">Bairro</label>
        </p-floatLabel>
      </div>
    </div>

    <p-button
      class="create-tutor-button"
      (onClick)="onSubmit()"
      label="Cadastrar Tutor"
      [disabled]="tutorForm.invalid"
    />
  </div>
</form>
