<p-toast />

<div class="receptionist-container">
  <div class="receptionist-content">
    @if(tutorResponseErrorStatus) {
      <p-messages [(value)]="errorMessageValue" [enableService]="false" />
    }

    <div class="container-content">
      <input type="text" pInputText [(ngModel)]="tutorCPF" placeholder="Pesquisar Tutor do Pet por CPF">
      <p-button icon="pi pi-search" (onClick)="handleTutorSearch()" />
    </div>

    <h2 class="title">Últimas Consultas Cadastradas</h2>
    <div class="paged-list">
      <app-appointments-list />
    </div>

    <h2 class="title">Tutores</h2>
    <p-button label="Cadastrar Tutor" [outlined]="true" (onClick)="handleRegisterTutorClick()" />

    <div class="paged-list">
      <app-tutors-list />
    </div>
  </div>
</div>
