$layout-mobile: 768px;

.receptionist-container {
  display: grid;
  place-items: center;
}

.receptionist-container .receptionist-content {
  width: 80%;
}

.container-content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 4rem;
  margin-bottom: 5rem;
}

.container-content input {
  margin-right: 1rem;
  width: 60%;
}

.paged-list {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

:host ::ng-deep .receptionist-container .p-element .p-button-outlined {
  /* topo | direita | inferior | esquerda */
  //margin: 5rem 0 0 5rem;
}

@media (max-width: $layout-mobile) {
  .container-content input {
    width: 100%;
  }
}
