$layout-mobile: 768px;
$subtitle: #dcdce6;

h4 {
  margin-bottom: 0;
}

:host ::ng-deep .add-pet-button .p-button-icon {
  font-size: 6rem;
  margin-bottom: 12px;
  margin-top: 0.5rem;
}

.add-pet-button {
  width: 280px;
  height: 180px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ebebeb;
  border-radius: 8px;
}

:host ::ng-deep .add-pet-button .p-button-link {
  display: flex;
  flex-direction: column;

  span {
    color: #4E3D4D;
  }
}

.content {
  padding: 1rem;
  margin-left: 0.5rem;
}

.tutor-container {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.tutor-personal-details .tutor-header {
  border: 1px solid $subtitle;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0.5rem 0 0;
  }

  .tutor-info {
    padding: 1.5rem;
    border: 1px solid $subtitle;
    display: flex;
    align-items: center;

    .tutor-avatar {
      margin-right: 1rem;
    }

    .tutor-identification p {
      margin: 0;
      color: #9199a2;
      font-weight: lighter;
    }
  }

  .edit-button {
    align-self: flex-end;
  }
}

.tutor-personal-details b {
  color: #9199a2;
}

.tutor-personal-details .personal-details-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.personal-details-content .box-content {
  display: flex;
  align-items: center;
}

.personal-details-content .icons {
  font-size: 2rem;
  background-color: #f1f3fe;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.tutor-container .principal {
}

.tutor-data-content {
  margin-top: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  //border: 1px solid $subtitle;
  //border-radius: 8px;
}

.pets-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

:host ::ng-deep .pets-container .pet-block:hover {
  //text-decoration: underline;

  .pet-image img {
    //border: 8px solid #b45309;
  }
}

.pets-container .pet-block .pet-image {
  //border: 8px solid #b45309;
  margin-bottom: 0.5rem;
}

:host ::ng-deep  .pets-container .pet-block .pet-image img {
  object-fit: cover;
  border: 2px solid $subtitle;
}

.pets-container .pet-block {
  display: grid;
  place-items: center;
  border: 2px solid #ebebeb;
  border-radius: 8px;
  width: 280px;
  height: 180px;
}

.pets-container .pet-block:hover, .pets-container .add-pet-button:hover {
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: var(--highlight-text-color);

  i {
    color: var(--highlight-text-color);
  }
}

.pets-container .pet-block b {
  padding: 0.5rem 0.5rem 1rem;
}

@media (max-width: $layout-mobile) {
  .tutor-container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .tutor-data-content {
    margin: 1rem;
  }
}
