
<div class="tutor-container">
  <app-go-back-button />

  <div class="tutor-data-content">
    <div class="principal">
      <div class="tutor-personal-details">
        <h2>Tutor:</h2>
        {{ tutorData?.name }}
        <p-divider />

        <h3>Dados Gerais</h3>

        <div class="personal-details-content">
          <div>
            <h5><b>{{ 'Telefone' | uppercase }}</b> <br><br> {{ tutorData?.phone }}</h5>
            <h5><b>{{ 'CPF' | uppercase }}</b>  <br><br> {{ tutorData?.cpf }}</h5>
          </div>
          <div>
            <h5><b>{{ 'Endereço' | uppercase }}</b>

              <br><br>

              {{ tutorData?.address?.street }}, {{ tutorData?.address?.number }}, {{ tutorData?.address?.neighborhood }}
            </h5>
          </div>
        </div>
      </div>
    </div>

    <h2>Pets</h2>

    <div class="pets-container">
      @for (pet of tutorData?.pets; track pet.id) {
        <p-button
          [link]="true"
          (onClick)="handlePetClick(pet.id)"
        >
          <div class="pet-block">
            <div class="pet-image">
              <p-image
                src="https://www.purina.co.uk/sites/default/files/styles/ttt_image_original/public/2020-12/Understanding%20Your%20Cat%27s%20Body%20LanguageHERO.webp?itok=W8bF8KSm"
                width="96"
                height="96"
              >
              </p-image>
            </div>
            <b>{{ pet.name }}</b>
          </div>
        </p-button>
      }

      <p-button
        label="Adicionar Pet"
        [link]="true"
        icon="pi pi-plus-circle"
        iconPos="top"
        class="add-pet-button"
        (onClick)="handleAddPetButton()"
      />
    </div>
  </div>
</div>
